#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
.dropbtn {
    /*background-color: black;*/
    color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   float: inherit;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
}
/*
3322b284-7775-4531-bda5-bb2215d591ee <--> Tinki Binki
7d9c323e-a6c0-4747-87e8-b6cfad03ff7b  -- Janez novak
f3e03189-e8d2-4a77-9ecc-274a69921186  -- a b
 a0421cf6-a8d9-445c-80e1-8b591f95a87a
 

   53026949-bc80-4f65-abbc-831fcf20ce15  --> Kim
     5a4c6e56-dd39-4002-85c2-d6153507e85a  --> Jackie
     07e890e7-a8af-4957-b9e8-c492da7659b1  --> Chuck
     /*
